In [1]:
import pandas as pd
import numpy as np

# Data Gathering and Filtering

In [2]:
artist_data = pd.read_csv('C:/Users/themysterious07/Downloads/Spotify Project/MusicArtist_Spotify2018.csv')

In [3]:
artist_data.head()

                    Artist  Genre        Sub-Genre  Followers  Popularity
0                     2NE1    Pop        Dance Pop  1,118,731          63
1                   14 Bis  Other              Mpb    129,166          46
2                     1976  Other    Chinese Indie      8,553          31
3      "Weird Al" Yankovic    Pop    Antiviral Pop    379,346          60
4  A Turma Do Balão Mágico  Other  Musica Infantil     33,693          46

In [4]:
artist_data = artist_data[['Artist','Genre','Sub-Genre','Followers','Popularity']]

In [5]:
artist_data.head()

                    Artist  Genre        Sub-Genre  Followers  Popularity
0                     2NE1    Pop        Dance Pop  1,118,731          63
1                   14 Bis  Other              Mpb    129,166          46
2                     1976  Other    Chinese Indie      8,553          31
3      "Weird Al" Yankovic    Pop    Antiviral Pop    379,346          60
4  A Turma Do Balão Mágico  Other  Musica Infantil     33,693          46

In [6]:
artist_data.tail()

                        Artist  Genre         Sub-Genre  Followers  Popularity
687                     Zarema    Pop  Deep Turkish Pop         29          16
688                       ZAYN    Pop         Dance Pop  7,500,974          83
689                 Zé Ramalho   Rock    Brazilian Rock    751,023          65
690                    Zendaya    Pop         Dance Pop  2,243,059          76
691  Zezé Di Camargo & Luciano  Other               Axe    871,551          65

In [7]:
artist_data['recommend_solver'] = artist_data['Genre']+' '+artist_data['Sub-Genre']

In [8]:
artist_data.drop(['Genre','Sub-Genre'], axis=1,inplace=True)

In [9]:
artist_data.set_index('Artist',inplace=True)

In [10]:
artist_data.head()

                         Followers  Popularity       recommend_solver
Artist
2NE1                     1,118,731          63          Pop Dance Pop
14 Bis                     129,166          46              Other Mpb
1976                         8,553          31    Other Chinese Indie
"Weird Al" Yankovic        379,346          60      Pop Antiviral Pop
A Turma Do Balão Mágico     33,693          46  Other Musica Infantil

# Now the Data is ready to apply NLP to it.

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
count = CountVectorizer()

In [13]:
count_matrix = count.fit_transform(artist_data['recommend_solver'])

In [14]:
cosine_sim = cosine_similarity(count_matrix,count_matrix)

# Creating the Recomendation Model

In [15]:
def artist_recomender(Artist, cosine_sim = cosine_sim):
    recomended_artist = []
    indices = pd.Series(artist_data.index)
    idx = indices[indices == Artist].index[0]
    recomend = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    recomend = recomend[1:11]
    top_10_index = recomend.index
    for i in top_10_index:
        recomended_artist.append(list(artist_data.index)[i])
    return recomended_artist

In [16]:
# Artist similar to:
artist_recomender(Artist='Drake')

['Preme',
 'Metro Boomin',
 'Wiz Khalifa',
 'Tyler, The Creator',
 'Ty Dolla $ign',
 'SZA',
 'Lil Jon & The East Side Boyz',
 'Gorillaz',
 'Aron Can',
 'OJ Da Juiceman']

In [17]:
def spotify_artist_recommender():
    print('Welcome to Spotify Artist Recommender')
    print('Enter any Artist from the Spotify 2018 List')
    artist_similar = input()
    result = artist_recomender(artist_similar)
    print('\nBecause you listen to:', artist_similar)
    print('\nYour artist recommendation should be:\n\n',result)

In [18]:
spotify_artist_recommender()

Welcome to Spotify Artist Recommender
Enter any Artist from the Spotify 2018 List
Taylor Swift

Because you listen to: Taylor Swift

Your artist recommendation should be:

 ['Cyndi Lauper', 'Christina Aguilera', 'Ciara', 'Omarion', 'Olly Murs', 'Harry Styles', 'Nicki Minaj', 'Niall Horan', 'Natasha Bedingfield', 'David Guetta']